<!DOCTYPE html>
<html>
  <head>
    <title>Crazy4Cats</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/49813de14c.js" crossorigin="anonymous"></script>
  </head>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
     <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="<%= destroy_user_session_path %>" data-method="delete">Sign out</a>
            </li>
          <% else %>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="<%= new_user_session_path %>">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= new_user_registration_path %>">Sign up</a>
            </li>
          <% end %>
      </ul>
    </div>
  </div>
</nav>



  <body>
    <div class="container mt-2">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
      <%= yield %>
      </div>
    </div>
</div>


  </body>
</html>
